.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 15px 20px;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #4979ff;
  background-color: #fff;
  color: #4979ff;
}